@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active {

  }

  .mycontainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .mycontainer {
      width: 85%;
    }
  }
}