@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mycontainer {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
  }

  /* Scrollbar styles */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #7e7e7e;
    border-radius: 5px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    border-radius: 5px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
  }

  .clip-path {
    clip-path: circle(50% at 50% 50%);
  }
}
